$dark-blue: #031728;
$aqua-blue: #216B91;
$blue: #4B90C0;
$grey: #D9D9D9;
$light-grey: #F7F8F8;
$gray: #BEBEBE;
$just-white: #FFFFFF;
$navy-blue: #223159;

@mixin subtitles {
    padding: 5px 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: $gray;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $just-white;
}

.inactive {
    display: none;
}

.header__nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: $dark-blue;
    color: $gray;

    &-logo {
        width: 100px;
        height: auto;
    }

    &-menuIcon {
        width: 35px;
        height: auto;
    }

    &-menu {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 69px;
        left: 0;
        background-color: $dark-blue;

        li {
            width: 100%;
            list-style: none;
            padding: 15px 20px;
            border-top: 1px solid $grey;
            font-size: 1.6rem;
            font-weight: 300;

            a {
                text-decoration: none;
                color: $gray;
            }
        }
    }
}

.header__welcome {
    display: flex;
    margin-top: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    height: auto;

    &-left {
        display: flex;
        align-items: center;
    }

    &-image {
        width: 50px;
        height: auto;
        border-radius: 50%;
    }

    &-title {
        padding: 0 10px;
        line-height: 1.4rem;

        b {
            font-size: 1.2rem;
        }
    }

    &-notif {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: $gray;
        border-radius: 10px;

        &-icon {
            position: absolute;
            width: 24px;
            height: auto;
            top: calc(50% - 12px);
            left: calc(50% - 12px);
        }

        &-count {
            position: absolute;
            width: 6px;
            height: 6px;
            top: 12px;
            right: 12px;
            background-color: red;
            border-radius: 50%;
        }
    }
}

.search {
    position: relative;
    display: flex;
    width: calc(100% - 40px);
    margin: 0 auto;
    height: auto;

    &__input {
        width: 100%;
        height: 40px;
        padding: 0 36px 0 10px;
        border: 1px solid $grey;
        border-radius: 10px;
        background-color: $light-grey;
        font-size: 1.4rem;
        font-weight: 300;
    }

    &__icon {
        position: absolute;
        width: 24px;
        height: auto;
        top: calc(50% - 12px);
        right: 10px;
    }
}

.reminders {
    width: calc(100% - 40px);
    margin: 15px auto;

    &__title {
        @include subtitles()
    }

    .reminder {
        position: relative;
        display: flex;
        width: 100%;
        height: auto;
        padding: 10px 0;
        margin: 5px auto;
        border-bottom: 1px solid $grey;

        &__item-time {
            width: 100px;
            height: 14px;
            padding: 0 10px;
            font-size: 1.2rem;
            font-style: italic;
            font-weight: 100;
            color: #8F9FB3;
            letter-spacing: 0.75px;
        }

        &__item-title {
            padding: 5px;
            font-size: 1.6rem;
            line-height: 19px;
            letter-spacing: 1px;
        }

        &__item-description {
            padding: 5px;
            font-size: 1rem;
            line-height: 17px;
            color: #8F9FB3;
            letter-spacing: 0.75px;

            a {
                font-weight: 50;
                font-style: italic;
                text-decoration: none;
                color: inherit;
            }
        }

        &__item-date {
            padding-left: 5px;
            width: 100px;
            height: 14px;
            font-size: 1rem;
            font-style: italic;
            font-weight: 100;
            color: #8F9FB3;
        }

        &__item-dots {
            position: absolute;
            top: 12px;
            right: 12px;
            width: 20px;
        }

    }

}

.health-percent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% - 40px);
    height: 95px;
    margin: 15px auto;
    background-color: $dark-blue;
    border-radius: 10px;

    &__info {
        line-height: 2rem;
        color: $blue;

        span {
            font-size: 1.6rem;
            font-weight: 500;
        }

    }

}

.progress {
    width: calc(100% - 40px);
    margin: 15px auto;

    &__head {
        display: flex;
        margin-bottom: 6px;
        justify-content: space-between;
        align-items: center;

        &-title {
            @include subtitles()
        }

        &-icon {
            padding: 2px 15px;
            background-color: $dark-blue;
            border-radius: 15px;
        }
    }

    &__graphic {
        img {
            width: 100%;
        }
    }
}

.modules {

    width: calc(100% - 40px);
    margin: 0 auto;

    &__title {
        @include subtitles();
        margin-bottom: 8px;
    }

    &__container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 100px;
        gap: 10px;
        width: 100%;

        &__card {
            grid-column: 1/3;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            background-color: $navy-blue;
            border-radius: 20px;

            box-shadow: -2px 2px 18px 3px rgba(91, 93, 97, 0.51);
            -webkit-box-shadow: -2px 2px 18px 3px rgba(91, 93, 97, 0.51);
            -moz-box-shadow: -2px 2px 18px 3px rgba(91, 93, 97, 0.51);

            &-title {
                font-weight: 700;
                font-size: 16px;
                color: $just-white;
            }
        }

    }
}